.login:hover{
	height:auto;
}
.login{
	height:25px; 
	position: relative;
    cursor:pointer;
    padding-top: 10px;
    float:left;
}
.login>div>span{
    color:blue;
}
.login>div{
    width:100px;
}
